Please enter your information.
<form method = "post" action = "index">
<input type = "text" name = "phone_number" placeholder = "Phone number">
<input type = "text" name = "first_name" placeholder = "First name">
<input type = "text" name = "last_name" placeholder = "Last name">
<input type = "text" name = "street" placeholder = "Street name">
<input type = "text" name = "city_state_zip" placeholder = "City/State/Zip">
<input type = "submit">
</form>
