Please enter your information.
<form method = "post" action = "index">
<input type = "text" name = "phone_number" placeholder = "Phone number">
<input type = "text" name = "first_name" placeholder = "First name">
<input type = "text" name = "last_name" placeholder = "Last name">
<input type = "text" name = "street" placeholder = "Street name">
<input type = "text" name = "city_state_zip" placeholder = "City/State/Zip">
<input type = "text" name = "user_email" placeholder = "Email">
<input type = "submit">
</form>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names..">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Name</th>
    <th style="width:40%;">Country</th>
  </tr>
<%info.each do |value|%>
<tr>
<br><td><%=value['first_name']%> </td>
<td><%=value['last_name']%> <td> <br>
</tr>
<%end%>
</table>
<script>
function searchFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
