<form method = "post" action = "log_in"> Please enter username and password
<div id = "log_in">
<input type = "text" name = "username">
<input type = "password" name = "user_password">
<input type = "submit" value = "log in">
</div>
</form>

<form method = "post" action = "register"> Or make an account
<div id = "register">
<input type = "text" name = "new_user">
<input type = "password" name = "new_password">
<input type = "submit" value = "sign up">
</div>
</form>