<form method = "post" action = "log_in"> Please enter username and password
<input type = "text" name = "username">
<input type = "password" name = "user_password">
<input type = "submit" value = "log in">
</form>

<form method = "post" action = "register"> Or make an account
<input type = "text" name = "new_user">
<input type = "text" name = "new_password">
<input type = "submit" value = "sign up">
</form>