<form method = "post" action = "search">
 <!-- <select name = 'table_column'>
    	<option value='col_first_name'>First Name</option>
		<option value='col_phone_num'>Phone Number</option>

    </select> -->

    <input type = "text" name = "first_name" placeholder = "First Name...">
    <input type = "text" name = "phone" placeholder = "Phone...">
    <input type = "submit" value = "search">

    </form>
    <div id = "searched_stuff">
      <%=session[:search_table]%>
      </div>