body {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

#banner {
    font-size: 40px;
    font-family: 'Arial', Arial, Helvetica, sans-serif, serif;
    font-weight: bold;
    background-color: firebrick;
    color: lightgray;
    height: 80px;
}

#info_boxes {
    border: firebrick solid 2px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}